<div class = 'col-md-6 col-md-offset-3'>
  <div class = 'row'>
    <div class = 'panel panel-default'>
      <div class = 'panel-heading'>
        <h2>Sign Up</h2>
      </div >
      <div class = 'panel-body'>
       <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
       <%= devise_error_messages! %>

       <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
      <br>

      <div class="form-group">
        <%= f.label :password %>
        <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
      <br>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control"  %>
      </div>
      <br>

      <div class="actions form-group">
        <%= f.submit "Sign up", class: "btn btn-default" %>
      </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>

  </div>
</div>
</div>

