<div class = "form-content">
    <%= form_for(@movie) do |f| %>
      <%= render 'layouts/error_messages', object: @movie %>
      <div class = "form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' , required: true %>
      </div>

      <div class = "form-group">
        <%= f.label :director %>
        <%= f.text_field :director,class: 'form-control', required: true %>
      </div>

      <div class = "form-group">
        <%= f.label :rating %>
        <%= f.text_field :rating, class: 'form-control' , required: true %>
      </div>

      <div class = "form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' , required: true %>
      </div>
      <div class = "form-group">
        <%= f.file_field :image %>
      </div>
      


      <%= f.submit  class: "btn btn-large btn-primary" %>
    <% end %>
 </div>