<div class = "row pad-top" >
	<div class = "col-md-10 col-md-offset-1">
	<% @movies.each do |movie| %>
	    <div class = "display-images">
	
		
			<%= link_to (image_tag movie.image.url(:medium)), movie, class: "img-thumbnail"  %>
		</div>
			
	<% end %>		

			
		
	

	
	</div>
</div>