<div class = 'col-md-6 col-md-offset-3'>
	<div class = 'row'>
		<div class = 'panel panel-default'>
			<div class = 'panel-heading'>
				<h2>New Movie</h2>
			</div >
			<div class = 'panel-body'>
				<%= render 'form' %>
			</div>

		</div>
	</div>
</div>