<div class = "panel panel-default">
  <div class = "panel-body">
    <div class = "row">
      <div class = "col-md-4">
        <%= image_tag @movie.image.url(:medium) %>

        <br>
        <p>Average rating: </p>
        <div id= "avg_rating" class="star-rating" data-score = <%= @rating_avg %>></div>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Title:</strong></td>
                <td><%= @movie.title %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @movie.description %></td>
              </tr>

              <tr>
                <td><strong>Director:</strong></td>
                <td><%= @movie.director %></td>
              </tr>
              <tr>
                <td><strong>Rating:</strong></td>
                <td><%= @movie.rating %></td>
              </tr>
            </tbody>
          </table>
          <%= link_to "Back", root_path %>
          <%= link_to "Edit", edit_movie_path(@movie) %>
          

        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1 class="review_title"><%= @movie.title %></h1>
        <p><%= @movie.description %></p>
        <br>
        <br>

        <p><%= puts "The review size for this movie is : #{@reviews.size}" %></p>

        <% if @reviews.size == 0 %>
        <h3>No reviews just yet, would you like to add the first!</h3>
        <% if user_signed_in? %>
        <% if !current_user_commented?(@movie) %>
        
        <%= render 'reviews/form' %>
        <% end %>
        <% end %>

        <% else %>
        <h5><%= pluralize(@reviews.size, "Review") %></h5>
        <div class="col-md-10 content">
          
            <% @reviews.each do |review| %>
            <div class="panel panel-default">
            <div>
              <div class="panel-heading">
                <small ><%= review.user.email %></small>
                <div  class="review-rating" data-score =  <%= rating_wrt_review(@movie,review) %>></div>
              </div>
              <div class = "panel-body">
                <p><%= review.review_text %></p>
              </div>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>

        <br>
        <br>
        <br>
        <div  class = "add-comment">
          <% if user_signed_in? %>
          <% if !current_user_commented?(@movie) %>
          
          <%= render 'reviews/form' %>
          <% end %>
          <% end %>
          

        </div>
      </div>

    </div>
  </div>


  <script>
  $(document).ready(function() {

    $("#avg_rating").raty({
      path: '/assets/',
      score: function() {
        return $(this).attr('data-score');
      }, 
             readOnly: true, // to make it not editable 
             noRatedMsg : "Not rated yet!", 
             halfShow : true, 
             half: true

           });

  /*  $(".review_rating").raty({
      path: '/assets/',
      score: function() {
        return $(this).attr('data-score');
      }, 
             readOnly: true, // to make it not editable 
             noRatedMsg : "Not rated yet!", 
             halfShow : true, 
             half: true

           });*/

    $('.review-rating').each(function(){
      $(this).raty({
       path: '/assets/',
       score: function() {
        return $(this).attr('data-score');
      }, 
             readOnly: true, // to make it not editable 
             noRatedMsg : "Not rated yet!", 
             halfShow : true, 
             half: true
           });


    });
  });

    </script>

