<div class="chatboxhead">
	<div class="chatboxtitle ">
		<i class="fa fa-comments"></i>
		
		<h1 class = "toggleChatBox"><%= @reciever.email %> </h1>
	</div>
	<div class="chatboxoptions">
		<%= link_to "<i class='fa fa-minus'></i> ".html_safe, "#", class: "toggleChatBox", "data-cid" => @conversation.id %>
		&nbsp;&nbsp;
		<%= link_to "<i class='fa fa-times'></i> ".html_safe, "#", class: "closeChat", "data-cid" => @conversation.id %>
	</div>
	<br clear="all"/>
</div>
<div class="chatboxcontent">
	
	<%= render @messages %>
	
</div>
<div class="chatboxinput">
	<%= form_for([@conversation, @message], :remote => true, :html => {id: "conversation_form_#{@conversation.id}"}) do |f| %>
	<%= f.text_area :body, class: "chatboxtextarea", "data-cid" => @conversation.id %>
	<% end %>
</div>

<%= subscribe_to conversation_path(@conversation) %> 