<% @users.each_with_index do |user, index| %>
<tr>
	<td><%= index +=1 %></td>
	<td><%= user.email %></td>
	<td>
		<%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
		"data-sid" => current_user.id, "data-rip" => user.id %>
	</td>
</tr>
<% end %> 