
<%= form_for([@movie, @movie.reviews.new]) do |f| %>

      <div class = "form-group" > 
        <p>Add a review</p>
        <div id = "user_rating" > </div>
     </div>
      
      <div class = "form-group" > 
        <p>Your Rating: </p>
        <div id = "user_rating" > </div>
     </div>
            
      <div class = "form-group comment-form">
       
        <%= f.text_area :review_text, input_html: {class: 'form-control' }, required: true, placeholder: "write a review" %>
      </div>
      
      <%= f.submit  class: "btn btn-large btn-primary" %>
<% end %>



<script>
 $(document).ready(function() {
        $("#user_rating").raty({
            path: '/assets/', 
            halfShow : true, 
            half: true, 
            cancel  : true, 
            click: function(score, evt) {
        alert('ID: ' + this.id + "\nscore: " + score + "\nevent: " + evt);
        
        }
        

            
        });
  });

</script>