<div class="navbar navbar-default navbar-static-top navbar-custom" role="navigation">

 <div class = "container"> 
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <%= link_to "MovieReview", root_path, class: "navbar-brand" %>
  </div>

  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= form_tag movies_path, method: :get, class: "navbar-form navbar-left" do %>
          <%= text_field_tag :search, params[:search], :id => 'search_field', class: "form-control" %>
          <%= submit_tag "Search", :name => nil, class: "btn" %> 
          
        <% end %> 
                <!--<form class="navbar-form navbar-left">
                  <input type="text" class="form-control">
                  <button type="submit" class="btn">Search</button>
                </form> -->
              </li>
              <% if !current_user %>
              <li>

                <%= link_to "Sign In", new_user_session_path %>
              </li>
              <li>
                <%= link_to "Sign up", new_user_registration_path %>
              </li>
              <% end %>

              <% if user_signed_in? %>
              <li>
                <%= link_to "New Movie", new_movie_path %>

              </li>
              <li><%= link_to "Users", users_path %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->

        </div>
      </div>