<!DOCTYPE html>
<html class = "full">
<head>
	<title>MovieReview</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
	 <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %> 
	<%= csrf_meta_tags %>
</head>

<%= render "layouts/shim" %>
<body>

	<%= render "layouts/header" %>
	<div class = "container">
		<div class = "row">


		<%= yield %>
		</div>

		<%= debug(params) if Rails.env.development? %>
</body>
    </div>
</html>
